.jumbotron {
    background-image: url("../assets/steph.jpg");
    background-size: cover;
    /* height: 100%;
    width: 100%; */
    min-height: 900px;
    color: white;
    text-align: right;
    margin-bottom: 0%;
   }
.triviaResult{
    height:5em;
}
#recipeSearch{
    margin-top: 275px;
    background-color: rgba(255, 255, 255, .5);
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.form-control-lg{
    width: 400px;
}

.footer{
  background-color: gray;
}

#recipe-results {
    display: flex;
    flex-flow: row wrap;
}

.recipe {
    width: 30%;
    margin: 10px;
    display: flex;
}

.recipe img {
    width: 225px;
    align-items: center;
    /* margin: 10px auto; */

}

.title {
    text-align: center;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    width: 300px;
}