.jumbotron {
    background-image: url("../assets/steph.jpg");
    background-size: cover;
    /* height: 100%;
    width: 100%; */
    min-height: 900px;
    color: white;
    text-align: right;
   }
.triviaResult{
    height:5em;
}